.sideMainBodyEmployeeDetailSecondChild{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 7%;
    margin-top: 3%
}

.sideMainBodyEmployeeDetailSecondChildChild1{
    width: 20%;
    margin-right: 3%;
}

.sideMainBodyEmployeeDetailSecondChildChild2{
    width: 76.5%
}

.employeeDetailPic{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.empdetcard>div{
    height: 180px;
    padding: 10px 15px 15px 15px !important
}

.sideMainBodyEmployeeDetailSecondChildChild1>.firstpara{
text-align: center;
font-family: AcrobatExtraBold;
font-size: 20px;
color: #3f4d58;
margin-top: 11px;
margin-bottom: 0px;
}
.sideMainBodyEmployeeDetailSecondChildChild1>.secondpara{
    text-align: center;
font-size: 20px;
color: #3f4d58;
margin-top: 11px;
margin-bottom: 0px;
font-family: NexaBold
}
.chngPhoto{
font-family: NexaBold;
    color: #008141 !important;
    font-size: 18px !important;
    margin-top: 15px !important;
}
.chngPhoto:hover{
    cursor: pointer;
}
.secondtd{
    padding-left: 20% !important;
    font-family: NexaBold;
    color: #3f4d58;
    padding-bottom: 8%;
    margin-right: 100%;
    width: 215px;
}
.firsttd{
    font-family: NexaLight;
    color: #666666;
    padding-bottom: 8%
    
}



.tableCard{
    padding: 5% 2% 5% 5% !important;
    width: 100% !important;
    border-radius: 0px !important;
 box-shadow:   3px 3px 5px 1px #c1c1c1 !important
 
}

.imageCard{
    padding: 10px 10px 6px 10px;
 box-shadow:    3px 3px 5px 1px #c1c1c1 !important;
        border-radius: 0px !important;
        position: relative;
}
.changePhotoS>:nth-child(2){
    width: 100%;
    text-align: center;
}
@media(max-width:700px){
 div> .sideMainBodyEmployeeDetailSecondChild{
margin-bottom: 10%
    }
}

@media(max-width:840px){

    
   div>.sideMainBodyEmployeeDetailSecondChildChild1{
       width: 40%;
       margin-right: 30%;
       margin-left: 30%;
       margin-bottom: 4%
   }

 div>.firstpara{
       font-size: 18px !important
   }

 div>.secondpara{
    font-size: 18px !important
}

   div>.sideMainBodyEmployeeDetailSecondChildChild2{
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
}
 }

@media(max-width:500px){

   div>div>.firstpara{
        font-size: 15px !important
    }
 
    div>div>.secondpara{
     font-size: 15px !important
 }
    div>  div> .sideMainBodyEmployeeDetailSecondChild{
 margin-bottom: 15%
     }
 }

 @media(max-width:360px){
   .sideMainBodyEmployeeDetailSecondChild{
 margin-bottom: 20% !important
     }
 }

 @media(max-width:400px){
    div>div>div>.firstpara{
        font-size: 12px !important
    }
    
    div>div>div>.secondpara{
     font-size: 12px !important
    }
  }
.animated-background-employeeDataDP{

    -webkit-animation-duration: 1s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
    height: 180px;
    position: relative;
    width: auto
}

.animated-background-employeeDataDP{
    font-size: 0px
}

.singleEmployeeTogglerLine{
    width: 100%;
}

.animated-background-toggleLine{
    
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
    height: 44px;
    position: relative;
}

.animated-background-toggleLine{
    font-size: 0px
}

@-webkit-keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0
    }
    100% {
      background-position: 468px 0
    }
  }
  
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0
    }
    100% {
        background-position: 1078px 0px;
    }
  }
  
  
  .timeline-itemtable {
    background: #fff;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    padding: 12px;
    margin: 0 auto;
    max-width: 100%;
    min-height: 185px;
  }
  
  .animated-backgroundtable {
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
    height: 96px;
    position: relative;
    font-size: 0px
  }
  
  .background-maskertable {
    background: #fff;
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
 
  
  .outlined:hover .background-maskertable {
    border: none;
  }
  
  
  
  .background-maskertable.header-toptable,
  .background-maskertable.header-bottomtable,
  .background-maskertable.subheader-bottomtable {
    top: 0;
    left: 40px;
    right: 0;
    height: 10px;
  }
  
  .background-maskertable.header-lefttable,
  .background-maskertable.subheader-lefttable,
  .background-maskertable.header-righttable,
  .background-maskertable.subheader-righttable {
    top: 10px;
    left: 40px;
    height: 8px;
    width: 10px;
  }
  
  .background-maskertable.header-bottomtable {
    top: 18px;
    height: 6px;
  }
  
  .background-maskertable.subheader-lefttable,
  .background-maskertable.subheader-righttable {
    top: 24px;
    height: 6px;
  }
  
  .background-maskertable.header-righttable,
  .background-maskertable.subheader-righttable {
    width: auto;
    left: 300px;
    right: 0;
  }
  
  .background-maskertable.subheader-righttable {
    left: 230px;
  }
  
  .background-maskertable.subheader-bottomtable {
    top: 30px;
    height: 10px;
  }
  
  .background-maskertable.content-toptable,
  .background-maskertable.content-second-linetable,
  .background-maskertable.content-third-linetable,
  .background-maskertable.content-second-endtable,
  .background-maskertable.content-third-endtable,
  .background-maskertable.content-first-endtable {
    top: 40px;
    left: 0;
    right: 0;
    height: 6px;
  }
  
  .background-maskertable.content-toptable {
    height: 20px;
  }
  
  .background-maskertable.content-first-endtable,
  .background-maskertable.content-second-endtable,
  .background-maskertable.content-third-endtable {
    width: auto;
    left: 380px;
    right: 0;
    top: 60px;
    height: 8px;
  }
  
  .background-maskertable.content-second-linetable {
    top: 68px;
  }
  
  .background-maskertable.content-second-endtable {
    left: 420px;
    top: 74px;
  }
  
  .background-maskertable.content-third-linetable {
    top: 82px;
  }
  
  .background-maskertable.content-third-endtable {
    left: 300px;
    top: 88px;
  }

.singleEmployeeSideBodyHeight{
    min-height: 100vh;
}



.animated-background-ParaNextToImage{
    
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
    height: 10px;
    position: relative;
    font-size: 0;
    margin-top: 9%;
    margin-right: 10%;
    margin-left: 12%;
}


@media(max-width:1225px){
    div>.animated-background-employeeDataDP{
        height: 150px;
    }

    div>.timeline-itemtable{
        min-height: 150px
    }

}

@media(max-width:1060px){
    div>.animated-background-employeeDataDP{
        height: 133px;
    }

    div>.timeline-itemtable{
        min-height: 133px
    }
  
}

@media(max-width:950px){
    div>.animated-background-employeeDataDP{
        height: 100px;
    }

    div>.timeline-itemtable{
        min-height: 10px
    }
}

@media (max-width:840px){
    div>.animated-background-employeeDataDP{
        height: 280px;
    }

    div>.timeline-itemtable{
        min-height: 280px
    }
}

@media (max-width:800px){
    div>.animated-background-employeeDataDP{
        height: 272px;
    }

    div>.timeline-itemtable{
        min-height: 272px;
    }
}


@media (max-width:700px){
    div>.animated-background-employeeDataDP{
        height: 235px;
    }

    div>.timeline-itemtable{
        min-height: 235px;
    }
}


@media (max-width:600px){
    div>.animated-background-employeeDataDP{
        height: 197px;
    }

    div>.timeline-itemtable{
        min-height: 197px;
    }
}


@media (max-width:500px){
    div>.animated-background-employeeDataDP{
        height: 160px;
    }

    div>.timeline-itemtable{
        min-height: 160px;
    }

  div>  div>.animated-background-toggleLine{
        height: 60px;
        }
}


@media (max-width:450px){
    table>tr>.secondtd{
        padding-left: 0 !important;
        word-break: break-all;
    }
    div>.animated-background-employeeDataDP{
        height: 142px;
    }
 div>div>   div>.animated-background-toggleLine{
        height: 50px;
        }

    div>.timeline-itemtable{
        min-height: 142px;
    }
}

@media (max-width:400px){
    div>.animated-background-employeeDataDP{
        height: 120px;
    }

    div>.timeline-itemtable{
        min-height: 120px;
    }
   div>div>div> div>.animated-background-toggleLine{
        height: 40px;
        }
}

@media (max-width:370px){
    div>.animated-background-employeeDataDP{
        height: 113px;
    }

  div>div>div>div>  div>.timeline-itemtable{
        min-height: 113px;
    }
}



@media (max-width:370px){
    div>.animated-background-employeeDataDP{
        height: 103px;
    }

    div>.timeline-itemtable{
        min-height: 103px;
    }
}


@media(max-width:547px){
    div>.animated-background-toggleLine{
        height: 70px;
        }
}


@media(max-width:1140px){
    div>.empdetcard>div{
        height: 140px;
    }
}

@media (max-width: 840px){
    div>div>.empdetcard>div{
        height: 270px;
    }
}

@media(max-width:720px){
    div>div>.empdetcard>div{
        height: 240px;
    }
}
@media(max-width:620px){
    div>div>.empdetcard>div{
        height: 200px;
    }
    .imageCard{
        padding: 5px 0px 0px 0px
    }
}

@media(max-width:520px){
    div>div>.empdetcard>div{
        height: 165px;
    }
}

@media(max-width:420px){
    div>div>.empdetcard>div{
        height: 130px;
    }
}
@media(max-width:370px){
    div>div>.empdetcard>div{
        height: 100px;
    }
}

@media(max-width:320px){
    div>div>.empdetcard>div{
        height: 80px;
    }
}


.EditProfileMenuIcon{
    float: right
}
.MenuItmColorEP{
    color: rgba(0,0,0,.87);
    font-family: AcrobatBlack !important;
}

.changPhotoTC{
    text-align: center;
}
.addImBtn{
    background-color: #f7f7f7;
    border: 0;
    width: 100%;
    padding-bottom: 8px;
    font-family: NexaBold;
    color: #008141 !important;
    font-size: 18px !important;
}
.addImBtn>i{
    position: relative;
    top: 6px;
    right: 10px;
}
.addImBtn:hover{
    border-radius: 2px;
}
.ChangePicMainDiv{
    margin-top: 15px;
}

.imageCard>div>i:hover{
    cursor: pointer;
}

.imageCard>div>i{
    position: absolute;
    right: 0;
    top: 5px;
    margin-right: 2px;
}