
@font-face {
    font-family: AcrobatBold;
    src: url('../../Fonts/Akrobat-Bold.otf');
  }
.drawerIcon{
font-size: 30px !important;
color: white
}

.drawerIcon:hover{
    cursor: pointer
}

div>.drawerIcon{
    display: none !important;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(102, 102, 102);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color:#008141;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .mysidenav{
      width: 250px;
  }

  .sidenav>a:hover{
cursor: pointer
  }

  .drawerProfilePic{
    margin: 0% auto 0% auto;
    display: block;
    border-radius: 100%;
    width: 125px;
    object-fit: cover;
    height: 125px;
  }

  .drawerItems{
    width: 100%;
  }

  .DrawerProfilePicDiv{
      background-color: #f7f7f7;
      padding: 8% 0%;
  }

  .drawerItems>i{
      position: relative;
      top: 5px;
      right: 20px
  }

  .activeclass{
      color:#008141  !important;
  }

  .signoutDropDown{
      font-family: AcrobatRegular !important;
      padding: 0 !important; 
    }
    .signoutDropDown>div>div{
        padding: 0px 10px !important;
    }
    span>.MenuItm{
        position: relative;
        top: 7px;
        margin-right: 12px;
        color: rgba(0,0,0,.54) !important
    }
    
    .payrolldashboardlogoMargin:hover{
        cursor: pointer;
    }