.USalSpan{
float: right;
position: relative;
top: 18px;
right: 24px;
font-family: NexaBold;
color: #008141;
}
.USalSpan:hover{
    cursor: pointer;
}
.USalSpanPara{
    display: inline-block
}
.modalopenEmpDSideBar{
    display:none;
    transition: display 2s linear;
}
.modalopenUiEmpDMainBody{
    width: 75%;
    margin-left: 0 !important;
    transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.updateSalTF1{
    margin-left: 20px;
}
.updateSalTF1>div>:nth-child(2){
    border-bottom-color: #008141 !important
}

@media(max-width:1000px){
    div>.MatDrawer>div>:nth-child(2){
        width: 25% !important
    }
}
@media(max-width:700px){
   div> div>div>.MatDrawer>div>:nth-child(2){
        width: 40% !important
    }
}

@media(max-width:840px){
    div>div>.MatDrawer>div>:nth-child(2){
        width: 30% !important
    }
}
@media(max-width:525px){
    div>div>div>.MatDrawer>div>:nth-child(2){
        width: 50% !important
    }
}

@media(max-width:420px){
    div>div>.DashboardMainBody>.MatDrawer>div>:nth-child(2){
        width: 70% !important
    }
}
