.Settingloader1{
    margin-top: 1%;
      height: 50px;
      margin-right: 1%;
      margin-left: 1%;
  
  }
  
  .SettingLoaderTable>td{
    padding: 0 !important;
  }
  .OptionDropDown>:nth-child(1)>button>div{
    fill: black !important;
  }
  .noMargin{
    margin-bottom: 0 !important
  }