@font-face {
    font-family: OpenSansBold;
    src: url('../../Fonts/open-sansBold.ttf');
  }

  @font-face {
    font-family: OpenSansRegular;
    src: url('../../Fonts/open-sansRegular.ttf');
  }
.Attendance{
    color: #3eb097;
    position: relative;
    bottom: 2%
}

.attendanceOptionIcon{
    float: right;
    font-size: 40px;
    position: relative;
    bottom: 3px;
    color:black;
}
.attendanceOptionIcon:hover{
    cursor: pointer;
}
.payslipButtonMargin{
    margin-right: 8px
}


.sideMainBodyonlyChild{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.AttendancesideMainBodyChild1{
    width: 63%;
}

.attendanceHeadingDiv{
    width: 37%
}


.employeeAttendanceChild2{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 4%
}

.employeeAttendanceChild2child1{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}


.previousBtn{
  display: inline 
}
.employeeAttendanceChild2child1>div>h1{
    display: inline;
    margin-left: 45px;
        position: relative;
    top: 5px;
}
.nextBtn{
    display: inline
}
.employeeAttendanceChild2child2>h1{
    text-align: center
}
@media(max-width:1225px){
    /* .AttendancesideMainBodyChild1{
        width: 100%;
    } */
    /* .attendanceHeadingDiv{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 5px;
    } */
    .AttendanceButton1{
        float: left !important;
        margin-right: 5px
    }
    .AttendanceButton2{
        float: left !important;
    }
}

.employeeAttendanceCardParentDiv{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.employeeAttendanceCardParentDiv{
    width: 100%
}

.ViewEmployeesHeading{
    font-family: NexaBold;
}


.attendanceTest{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.attendanceSideBody{
    min-height: 100vh;
    /* width: 76%; */
    /* transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955); */

}
/* .attenSBanim{
    transition: all 0.75s cubic-bezier(0.455, 0.03, 0.515, 0.955);
} */
.AttendanceTable{
    background: #f7f7f7;
    width: 100%;
}
/* .AttendanceTable>tr>td>span{
float: right;
margin-right: 11%;
position: relative;
top: 36%;
} */



.AttendanceTable>tr>td{
    height: 130px;
    background-color: #e4e4e4;
}

.AttendanceTable>tr>:last-child {
border-right: none;
}



.LastRow>td{
border-bottom: none !important
    
}

.orange{
    /* background-color: #ff9c00;
    font-size: 14px;
    border-radius: 100%;
    text-indent: 20px;
    float: none !important;
    margin-right: 0 !important;
    position: relative !important;
    top: -25px !important;
    left: 10px;

    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: block; */







    color: white;
    font-size: 13px;
    border-radius: 100%;
    /* text-indent: 20px; */
    float: none !important;
    margin-right: 0 !important;
    position: relative !important;
    top: 6% !important;
    left: 11%;
    height: 16px;
    border-radius: 5px;
    display: block;
    /* width: 73%; */
    /* text-indent: 5px; */
    height: 20px;
    padding-top: 4px;

    width: 75%;
    /* padding-top: 5%; */
    /* padding-left: 5%; */
    text-align: center;
       font-family: NexaLight;

}

.purple{
    /* background-color: #af53f0;
    font-size: 14px;
    border-radius: 100%;
    text-indent: 20px;
    
    float: none !important;
    margin-right: 0 !important;
    position: relative !important;
    top: -15px !important;
    left: 10px;

    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: block; */




    color: white;
       font-family: NexaLight;
    font-size: 13px;
    border-radius: 100%;
    /* text-indent: 20px; */
    float: none !important;
    margin-right: 0 !important;
    position: relative !important;
    top: 6% !important;
    height: 16px;
    border-radius: 5px;
    display: block;
    /* width: 73%; */
    /* text-indent: 5px; */
    height: 20px;
    padding-top: 4px;
    left: 11%;

    width: 75%;    /* padding-top: 5%; */
    /* padding-left: 5%; */
    text-align: center;
    margin-top: 2%
}







.Date{
    float: right;
margin-right: 11%;
position: relative;
top: 2%;
font-family: OpenSansBold
}   

.lightgreen{
    


    color: white;
       font-family: NexaLight;
    font-size: 13px;
    border-radius: 100%;
    /* text-indent: 20px; */
    float: none !important;
    margin-right: 0 !important;
    position: relative !important;
    top: 6% !important;
    height: 16px;
    border-radius: 5px;
    display: block;
    /* width: 73%; */
    /* text-indent: 5px; */
    height: 20px;
    padding-top: 4px;
    left: 11%;

    width: 75%;    /* padding-top: 5%; */
    /* padding-left: 5%; */
    text-align: center;
    margin-top: 2%
}

.green{
    /* background-color: #3eb097;
    font-size: 14px;
    border-radius: 100%;
    text-indent: 20px;
    
    float: none !important;
    margin-right: 0 !important;
    position: relative !important;
    top: -33px !important;
    left: 10px;

    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: block; */




    color: white;
       font-family: NexaLight;
    font-size: 13px;
    border-radius: 100%;
    /* text-indent: 20px; */
    float: none !important;
    margin-right: 0 !important;
    position: relative !important;
    top: 6% !important;
    height: 16px;
    border-radius: 5px;
    display: block;
    /* width: 73%; */
    /* text-indent: 5px; */
    height: 20px;
    padding-top: 4px;
    left: 11%;

    width: 75%;    /* padding-top: 5%; */
    /* padding-left: 5%; */
    text-align: center;
    margin-top: 2%
}

.DateWithOneStatus{
    float: right;
    margin-right: 11%;
    position: relative;
    bottom: 42%;
       font-family: NexaLight;;
    color: white;
}

.red{
    /* background-color: #e40000;
    font-size: 14px;
    border-radius: 100%;
    text-indent: 20px;
    
    float: none !important;
    margin-right: 0 !important;
    position: relative !important;
    top: -33px !important;
    left: 10px;

    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: block; */



    color: white;
       font-family: NexaLight;
    font-size: 13px;
    border-radius: 100%;
    /* text-indent: 20px; */
    float: none !important;
    margin-right: 0 !important;
    position: relative !important;
    top: 6% !important;
    height: 16px;
    border-radius: 5px;
    display: block;
    /* width: 73%; */
    /* text-indent: 5px; */
    height: 20px;
    padding-top: 4px;
    left: 11%;

    width: 75%;    /* padding-top: 5%; */
    /* padding-left: 5%; */
    text-align: center;
    margin-top: 2%
}

.gray{
    color: white;
       font-family: NexaLight;
    font-size: 13px;
    border-radius: 100%;
    /* text-indent: 20px; */
    float: none !important;
    margin-right: 0 !important;
    position: relative !important;
    top: 6% !important;
    height: 16px;
    border-radius: 5px;
    display: block;
    /* width: 73%; */
    /* text-indent: 5px; */
    height: 20px;
    padding-top: 4px;
    left: 11%;

    width: 75%;    /* padding-top: 5%; */
    /* padding-left: 5%; */
    text-align: center;
    margin-top: 2%
}
.darkorange{
    color: white;
       font-family: NexaLight;
    font-size: 13px;
    border-radius: 100%;
    /* text-indent: 20px; */
    float: none !important;
    margin-right: 0 !important;
    position: relative !important;
    top: 6% !important;
    height: 16px;
    border-radius: 5px;
    display: block;
    /* width: 73%; */
    /* text-indent: 5px; */
    height: 20px;
    padding-top: 4px;
    left: 11%;

    width: 75%;    /* padding-top: 5%; */
    /* padding-left: 5%; */
    text-align: center;
    margin-top: 2%
}
.blue{
    /* background-color: #0083df;
    font-size: 14px;
    border-radius: 100%;
    text-indent: 20px;
    
    float: none !important;
    margin-right: 0 !important;
    position: relative !important;
    top: -33px !important;
    left: 10px;

    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: block; */



    color: white;
       font-family: NexaLight;
    font-size: 13px;
    border-radius: 100%;
    /* text-indent: 20px; */
    float: none !important;
    margin-right: 0 !important;
    position: relative !important;
    top: 6% !important;
    height: 16px;
    border-radius: 5px;
    display: block;
    /* width: 73%; */
    /* text-indent: 5px; */
    height: 20px;
    padding-top: 4px;
    left: 11%;

    width: 75%;    /* padding-top: 5%; */
    /* padding-left: 5%; */
    text-align: center;
    margin-top: 2%
}

.DateWithNoStatus{
    float: right;
    margin-right: 11%;
    position: relative;
    top: 31%;
    font-family: OpenSansRegular;
}

.AttendanceTableCard{
    border-radius: 0 !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 0 !important;
    margin-top: 5%;
}

.employeeHeadingDiv{
    display: inline-block;
    width: 250px
}
@media (max-width:490px){
    div>.employeeAttendanceChild2child1>div>h1{
        margin-left: 6px;
        font-size: 24px;
        top: 3px;
        }

    div>.employeeHeadingDiv{
        width: 130px;
    }
}

.emptyTd{
    font-size: 0;
    background-color: #e4e4e4;
}

.DNRow{
    height: 10px !important;
    text-align: center;
    font-family: NexaLight;
    color: black;
    padding-bottom: 15px;
    background-color: #f7f7f7 !important;
}

.attendanceloader{
    height: 85px;
    margin-bottom: 2%
}


.AttendanceLoader{ display: flex;
align-items: flex-start;
flex-wrap: wrap;
margin-bottom: 2%;
}

.attendanceloader1{
    margin-top: 0.2%;
    height: 120px;
    /* margin-right: 1%;
    margin-left: 1%; */
}

.attendanceloader2{
    margin-top: 0.2%;
    height: 120px;
    /* margin-right: 1%;
    margin-left: 1%; */
    
}

.attendanceloader3{
    margin-top: 0.2%;
    height: 120px;
    /* margin-right: 1%;
    margin-left: 1%; */
}
.AttendanceLoaderChild1{
    width: 100%
}
.AttendanceLoaderChild2{
    width: 100%
}

.AttendanceLoaderChild3{
    width: 100%
}

.lastLoadermarginBottom{
    margin-bottom: 0.2%
}

.employeeAttendanceFontFamily{
    font-family: OpenSansBold;
    color: #3f4d58
}

.EmployeeAttendanceHeading{
    color: #3f4d58    
}

/* .tablediv{
    width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
} */





  
  @media screen and (max-width: 600px) {
    .DateWithOneStatus{
        bottom: 36.1%;
        margin-right: 14%;
        }
        .DateWithNoneStatus {
            top: -12.7% !important;
        }
   div> table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
  
    
    .AttendanceTable> tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    .DaysNameRow{
        display: none !important;
    }
    .DaysNameRow td{
        background: #f7f7f7;
    }
    .mobileDaysName{
        display: block !important;
        margin-right: 5px;
    margin-top: 5px;
    }
    .AttendanceTable td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
td>.orange{
    top: 15px !important;
    /* position: static  !important; */
    margin-top: 2%;
}

td>.purple{
    top: 15px !important;
    /* position: static  !important; */
    margin-top: 2%;
}

td>.red{
    top: 15px !important;
    /* position: static  !important; */
    margin-top: 2%;
}

td>.green{
    top: 15px !important;
    /* position: static  !important; */
    margin-top: 2%;
}

td>.blue{
    top: 15px !important;
    /* position: static  !important; */
    margin-top: 2%;
}
td>.gray{
    top: 15px !important;
    /* position: static  !important; */
    margin-top: 2%;
}
td>.lightgreen{
    top: 15px !important;
    /* position: static  !important; */
    margin-top: 2%;
}
td>.darkorange{
    top: 15px !important;
    /* position: static  !important; */
    margin-top: 2%;
}

.AttendanceTable>tr>td{
    border-right: 0
}
    tr>.emptyTd{
        display: none;
    }

 .AttendanceTable>   .NoLastRow{
        display: none;
    }

    .LastRow>td{

          border-bottom: 1px solid #9fa6ab !important
    }

    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

.AttendanceTable>tr>td{
    min-width: 50px;
}

div>.attendaceHeadingLoader{
    height: 44px;
        width: 100%;
        font-size: 0;
}

.EmployeeAttendanceHeading>div{
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: 65%;
    display: inline-block;
}

.EmployeeAttendanceHeading>span{
    position: relative;
    bottom: 5px;
}


.DateWithNoneStatus{
    top: -30%;
    color: black;
       font-family: NexaLight;
}
.DateWithNoneStatusBackCol{
    background-color: #e4e4e4 !important; 
    color: #cbcece !important
}
.DateWithNoneStatusBackCol:hover{
    cursor: default !important;
}

.secondRowColAtten:hover{
cursor: pointer
}
.secondRowColAttenDef:hover{
    cursor: default;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 22%;
    border-radius: 3px;
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
}

.showModalClass{
    display:block;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modalpara{
    margin-top: 0;
    color: black;
    font-size: 19px;
    font-family: AcrobatRegular
}

.actionButtons{
    text-align: center !important
}
.ModalFirstbutton{
    background-color: #3eb097 !important
}

.modalHeading{
    font-family: NexaLight;
    color: black;
    font-size: 22px;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 0;
}

.modalStyle>div>div>div>div{
padding-bottom: 5px !important;
border-bottom: none !important
}
.modalStyle>div>div>div>div ~ div{
    padding-bottom: 25px !important
    }

    .mobileDaysName{
        display: none;
        font-family: OpenSansBold
    }
.AttendanceLoaderTable{

    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: -o-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1600px 104px;
    /* height: 10px; */
    position: relative;
    font-size: 0;
    /* margin-top: 9%;
    margin-right: 10%;
    margin-left: 12%; */
}
.attendaceHeadingLoaderTable{

    -webkit-animation-duration: 1s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: -o-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1600px 104px;
    height: 300px;
    position: relative;
}



.w3-sidebar {
    height: 100%;
    width:0;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    -webkit-transition: width 0.25s;
    transition: width 0.25s;
    transition-timing-function: linear;
    padding-top: 100px
}
.showSideModal{
    width:200px;
}

.overlay{
    position: fixed;
    left: 0;
    right: 0;
    /* top: 84px; */
    min-height: 100vh;
    background: rgba(0,0,0,0.5);
}
/* 
.w3-animate-right {
    position: relative;
} */

.w3-card, .w3-card-2 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.tdgreen{
    background-color: #008141 !important;
}
.tdorange{
background-color: #dc640b  !important;
}
.tdpurple{
    background-color: #00c664  !important
}
.tdred{
    background-color: #c22727  !important
}

.tddarkorange{
    background-color: #921a8e  !important;
}

.tdlightgreen{
    background-color: #1ea4c5 !important;
}
.tdgray{
    background-color: #394287  !important;
}
.showSideModal{
    display: block !important;
}

.MatDrawer>div>:nth-child(1){
background-color: rgba(0, 0, 0, 0) !important;
top: 84px !important;
}
.MatDrawer>div>:nth-child(2){
    top: 84px !important;
    padding-right: 40px;
    padding-top: 15px;
    }
    .UPAttBtnND{
        margin-left: 20px;
        margin-top: 25px;
    }
    .UPAttBtnND>button>div>div>span{
        font-family: NexaBold !important;
        color: white !important;
    }

.UPAttBtnND>button{
    border-radius: 0 !important;
}




    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        border-bottom: 1px solid gray;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        font-size: 0;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }
    
    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }
    
    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #008141;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
   
    
    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    .statusStyleDraw{
        font-family: NexaLight;
        font-size: 15px;
        position: relative;
        bottom: 4px;
    }

    .MenuItem{
        min-height: 30px !important;
        line-height:30px !important;
        padding-top: 15px !important;
    }

    .backtrue{
        background-color: white !important
    }
    .testRad{
        margin-left: 20px;
        border-bottom: 1px solid #ccd0d2;
        margin-bottom: 0 !important;
        padding: 13px 0 10px 0;
    }

    .lastVaca{
        border-bottom: 0 !important;
    }
    .testRad>:nth-child(2)>:nth-child(1)>:nth-child(1)>:nth-child(2){
        fill: #008141 !important
    }
    .testRad>:nth-child(2)>:nth-child(2){
font-family: NexaLight !important
    }
    .modalopenUiSideBar{
        display:none;
        transition: display 2s linear;
    }
    .modalopenUiMainBody{
        width: 75%;
        margin-left: 0 !important;
        transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }

    .MatDrawer>div>:nth-child(2){
        width: 21% !important;
    }
    .UAttDate{
        font-family: NexaBold;
        margin-left: 20px;
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 10px;
        display: block;
    }
    /* Style the checkmark/indicator */
 .NOfAPMainDiv{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
    height: 135px;
 }
 .NOfAPMainDiv1{
    width:18.4%;
    background-color: #e4e4e4;
    margin-right: 2%;
    height: 100%;
    border-radius: 2px;
 }


.NOfAPMainDiv1>:nth-child(1){
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    top: 25%;
   font-family: NexaLight

}
.NOfAPMainDiv1>:nth-child(2){
   display: block;
   width: 100%;
   text-align: center;
   position: relative;
   top: 30%;
   font-family: NexaLight;
   font-size: 50px;

}


.NOfAPMainDiv2>:nth-child(1){
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    top: 25%;
   font-family: NexaLight

}
.NOfAPMainDiv2>:nth-child(2){
   display: block;
   width: 100%;
   text-align: center;
   position: relative;
  top: 30%;
   font-family: NexaLight;
   font-size: 50px;

}


.NOfAPMainDiv3>:nth-child(1){
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    top: 25%;
   font-family: NexaLight;

}
.NOfAPMainDiv3>:nth-child(2){
   display: block;
   width: 100%;
   text-align: center;
   position: relative;
  top: 30%;
   font-family: NexaLight;
   font-size: 50px;
}

.NOfAPMainDiv4>:nth-child(1){
    display: block;
    width: 100%;
    text-align: center;
    position: relative;
    top: 25%;
    font-family: NexaLight

}
.NOfAPMainDiv4>:nth-child(2){
   display: block;
   width: 100%;
   text-align: center;
   position: relative;
   top: 30%;
   font-family: NexaLight;
   font-size: 50px;

}
 .NOfAPMainDiv2{
    width: 18.4%;
    background-color: #e4e4e4;
    margin-right: 2%;
    height: 100%;
    border-radius: 2px;
}
.NOfAPMainDiv3{
    width:18.4%;
    background-color: #e4e4e4;
    margin-right: 2%;
    height: 100%;
    border-radius: 2px;
}
.NOfAPMainDiv4{
    width: 18.4%;
    background-color: #e4e4e4;
    height: 100%;
    border-radius: 2px;
}