
@font-face {
    font-family: AcrobatBold;
    src: url('../../Fonts/Akrobat-Bold.otf');
  }
  @font-face {
    font-family: AcrobatLight;
    src: url('../../Fonts/Akrobat-Light.otf');
  }
  
  @font-face {
    font-family: AcrobatExtraBold;
    src: url('../../Fonts/Akrobat-ExtraBold.otf');
  }
  
  @font-face {
    font-family: AcrobatSemiBold;
    src: url('../../Fonts/Akrobat-SemiBold.otf');
  }
  
  
  
  @font-face {
    font-family: AcrobatRegular;
    src: url('../../Fonts/Akrobat-Regular.otf');
  }

   
  @font-face {
    font-family: AcrobatBlack;
    src: url('../../Fonts/Akrobat-Black.otf');
  }



.CardMainDiv{
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 20px;
    padding-top: 25px
    
}


::placeholder{

    color: black !important;
}





.TextFieldDivsPara>p{
text-align: center;
font-family: AcrobatSemiBold;
letter-spacing: 1px;
position: relative;
top: 8px
}
.TextFieldDivsPara{
    width: 100%;
    position: relative;
    bottom: 10px;
}
.btnFontColor span{
    color: white !important;
    letter-spacing: 1px !important
}


@media(max-width:700px){
div>.RegisterMainDivChild1{
    width: 370px
}

.TextFieldDivsPara>p{
    text-align: center;
    width: 100%
    }
}

@media(max-width:400px){
   label>.desktimeIcon{
        height: auto;
        width: 50px
    }
    label>.firstImage{
        height: auto;
        width: 50px;
    }
    div>label>img{
        height: 35px;
        width: 50px;
    }
label>.checkchild3img{
    height: 23px;
    width: 50px;
    margin: 9.9% 0%;
}
   label>.checkchild4img{
        height: auto;
        width: 50px;
        margin: 19.8% 0%
        
    }
    label>.checkchild5img{
        height: auto;
        margin: 11% 0%
    }
    div>.RegisterMainDivChild1{
        width: 320px !important;
        margin-bottom: 25% !important;
    }


    div>.ResgisterTextFieldsStyle{
        margin-top: 12px;
    }

    div.ResgisterTextFieldsStyleLastBtn{
        margin-top: 0px;
    }

    .TextFieldDivs{
        margin-bottom: 10px !important
    }

    }

    *:focus{
        outline: none !important
    }

    @media(max-width:340px){
        div>.RegisterMainDivChild1{
            width: 280px !important;
        }
     
    
        div>.ResgisterTextFieldsStyle{
            margin-top: 12px;
        }
    
        div.ResgisterTextFieldsStyleLastBtn{
            margin-top: 0px;
        }
    
        .TextFieldDivs{
            margin-bottom: 10px !important
        }
     
        ::placeholder{
            
               font-size: 12px
            }
            .TextFieldIcon{
                font-size: 20px
            }

            div>.ResgisterTextFieldsStyle {
                width: 150px !important;
            }
            .RegisterMainDiv{
                margin-top: 70px
            }
            .checkchild1>label>img{
                position: relative;
                top: 9px
            }

            .materialIcon1ApiTimer{
                position: relative;
                bottom: 5px
            }


            .materialIcon2ApiTimer{
                position: relative;
                bottom: 3px
            }

            .materialIcon3ApiTimer{
                position: relative;
                bottom: 9px
            }

            .materialIcon4ApiTimer{
                position: relative;
                bottom: 5px
            }

            .materialIcon5ApiTimer{
                position: relative;
                bottom: 4px
            }

            .materialIcon6ApiTimer{
                position: relative;
                bottom: 5px
            }
        }
    
     .TextFieldIcon:hover{
         cursor: default
     }
    
.GreetingDiv>p{
    text-align: center;
    font-family: NexaLight;
    font-size: 14px;
    
}
.GreetingDiv>p>span{
    text-align: center;
    font-family: NexaLight;
    font-size: 20px;
    color: rgb(62, 176, 151)
}

.CheckBoxDiv{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 2%
}

.checkchild1{
    width: 25.33%;
    box-shadow: 2px 2px 1px rgb(217, 217, 217);
  margin: 1% 3%;
  padding: 2% 1%;
  height: auto;
  display: block
}

.checkchild2{
    width: 25.33%;
    box-shadow: 2px 2px 1px rgb(217, 217, 217);
  margin: 1% 3%;
  padding: 3.1% 1%;
  text-align: center;
  height: auto
}

.checkchild3{
width: 25.33%;
    box-shadow: 2px 2px 1px rgb(217, 217, 217);
  margin: 1% 3%;
  padding: 5.5% 1%;
  
  height: auto
}

.checkchild4{
    width: 25.33%;
        box-shadow: 2px 2px 1px rgb(217, 217, 217);
      margin: 1% 3%;
      padding: 7% 1%;
      
      height: auto
    }


    .checkchild5{
        width: 25.33%;
            box-shadow: 2px 2px 1px rgb(217, 217, 217);
          margin: 1% 3%;
          padding: 5.5% 1%;
          
          height: auto
        }

        .checkchild6{
            width: 25.33%;
                box-shadow: 2px 2px 1px rgb(217, 217, 217);
              margin: 1% 3%;
              padding: 5.9% 1%;
              
              height: auto
            }

label>img{
    height: 50px;
    width: 70px
}

.firstImage{
    height: auto;
    width: 70px
}

.desktimeIcon{
    height: auto;
    width: 70px
}
.checkchild4img{
    height: auto;
    width: 70px;
    margin: 19.8% 12%
}
.checkchild3img{
    height: 30px;
    width: 70px;
    margin: 10.7% 0%;
}
.checkchild5img{
    height: auto;
    margin: 11% 10%;
    
}
.infoIcon{
    float: right !important;
    width: 0px !important;
    height: 0px !important;
    border: none !important;
    padding: 0px !important
}

.infoIcon:hover{
cursor: default !important
}
.timerMaterialIcon{
    position: relative;
    right: 16px;
    font-size: 12px;
    color: rgb(126, 135, 143)
}
label{
    display: inline-block
}

.checkchild6:hover{
    border-radius: 20px !important;
    cursor: pointer;    
    
}


.checkchild5:hover{
    border-radius: 20px !important;
    cursor: pointer;    
    
}


.checkchild4:hover{
    border-radius: 20px !important;
    cursor: pointer;    
}


.checkchild3:hover{
    border-radius: 20px !important;
    cursor: pointer;    
}


.checkchild2:hover{
    border-radius: 20px !important;
    cursor: pointer;
    
}

.checkchild1:hover{
    border-radius: 20px !important;
    cursor: pointer;
}

.checkchild1>label{
    cursor: pointer;    
}

.checkchild2>label{
    cursor: pointer;    
}

.checkchild3>label{
    cursor: pointer;    
}

.checkchild4>label{
    cursor: pointer;    
}

.checkchild5>label{
    cursor: pointer;    
}

.checkchild6>label{
    cursor: pointer;    
}


.materialIcon1ApiTimer{
    position: relative;
    bottom: 2px
}



.materialIcon3ApiTimer{
    position: relative;
    bottom: 9px
}

.materialIcon4ApiTimer{
    position: relative;
    bottom: 5px
}

.materialIcon5ApiTimer{
    position: relative;
    bottom: 1px
}

.materialIcon6ApiTimer{
    position: relative;
    bottom: 5px
}

.material-icons{
display: inline !important
}

