.ApiTextFieldsStyle{
    width: 100% !important;
    margin-top: 35px;
    border-bottom: none !important;
    outline: none !important;
    border: none;
    text-indent: 15px;
    display: inline-block
}

.ApiTextFieldsStyle::placeholder{
    color: rgb(131, 138, 144) !important;
    font-size: 14px;   
    font-family: NexaLight
}

.apikeysmall{
    margin-bottom: 10px
}