
@font-face {
    font-family: AcrobatBold;
    src: url('../../Fonts/Akrobat-Bold.otf');
  }
  @font-face {
    font-family: AcrobatLight;
    src: url('../../Fonts/Akrobat-Light.otf');
  }
  
  @font-face {
    font-family: AcrobatExtraBold;
    src: url('../../Fonts/Akrobat-ExtraBold.otf');
  }
  
  @font-face {
    font-family: AcrobatSemiBold;
    src: url('../../Fonts/Akrobat-SemiBold.otf');
  }
  
  
  
  @font-face {
    font-family: AcrobatRegular;
    src: url('../../Fonts/Akrobat-Regular.otf');
  }

   
  @font-face {
    font-family: AcrobatBlack;
    src: url('../../Fonts/Akrobat-Black.otf');
  }
.payslipchild2Parent{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 4%;
}


.payslipchild2ParentChild1{
    width: 49%;
    margin-right: 2%
}

.payslipchild2ParentChild2{
    width: 49%;
    margin-right: 2%;
}

.payslipchild2ParentChild3{
    width: 49%
}

.TableheaderBColor{
    background-color:  #3eb097;
}


.TableheaderBColor2{
    background-color:  #e4e4e4;
    box-shadow: 3px 4px 5px 1px #cecece;
}

.secondTD{
font-family: NexaBold;
font-size: 15px;
text-align: right !important;
word-wrap: break-word !important;
white-space: pre-wrap !important
}
.firstTD{
    font-family: NexaLight;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    color: black;
}

.tableheader{
    color: black;
    font-family: NexaBold;
    font-size: 18px
}


.payslipchild2ParentChild3{
    box-shadow: 2px 1px 5px 1px #c8c8c8;
}

.payslipchild2ParentChild2{
    box-shadow: 2px 1px 5px 1px #c8c8c8;
}

.payslipchild2ParentChild1{
    box-shadow: 2px 1px 5px 1px #c8c8c8;
}

.dropdownChild{
    width: 100%
}
.dropdownChild>p{
    display: inline;
    font-family: AcrobatRegular;
    color: #666666;
}
.dropdownChild>label{
    padding:0px 0px 2px 5px;
    border-bottom: 1px solid black;
    position: relative;
    left: 12px;
    bottom: 6px;
}
.dropdownChild>label>select{
    color: #3eb097;
background-color: #f7f7f7;
border: none;
font-family: AcrobatBold;
font-size: 28px;

}
.dropdownChild>label>select>option{
    outline: none;
}

.selectMainDiv{
    margin-top: 4% !important;
}
.dynamic-margin{
    margin-top: 50px !important
}
.email-button{
    margin-top: 5px;
}
@media(max-width:830px){
    .paddingBottomOfSecondLastTable{
padding-bottom: 0px !important
    }
    .paddingBottomOfLastTable{
        padding-bottom: 0px !important
        
    }
    div>.payslipchild2ParentChild1{
        width: 100%;
        margin-right: 0%
    }

    div>.payslipchild2ParentChild2{
        width: 100%;
        margin-right: 0%;
        margin-top: 2%
    }

    div>.payslipchild2ParentChild3{
        width: 100%;
        margin-right: 0%;
        margin-top: 5%
    }
  div>div>div>.lastParentMarginBottom{
    margin-bottom: 7%; 
  }

}

@media(max-width:490px){
    div>.lastParentMarginBottom{
        margin-bottom: 12% !important; 
      }
 }
@media(max-width:547px){
   div>div>div> .ViewEmployeesHeading{
        font-size: 22px;
    }
    div>.DashboardMainHeading{
        font-size: 22px;
    }

    div>.EmployeeAttendanceHeading>span{
        bottom: 3px;
    }

    div>div>div>.ViewEmpHMob{
        position: relative;
    top: 5px;
    }
}

@media(max-width:640px){
   div> div>.lastParentMarginBottom{
        margin-bottom: 14% !important;  
      }
 }
 @media(max-width:355px){
    div> div>.lastParentMarginBottom{
         margin-bottom: 16% !important;  
       }
  }
@media(max-width:406px){
    div>div>.ViewEmployeesHeading{
        font-size: 16px !important;
    }

   div>div>.DashboardMainHeading{
        font-size: 16px;
    }
    div>div>.ViewEmpHMob{
        position: relative;
        top: 10px !important;
    }
}



.paddingBottomOfSecondLastTable{
    padding-bottom: 52px
}



.paddingBottomOfLastTable{
    padding-bottom: 100px
    
}

.payslipTopHeadingColor{
    color: #3f4d58;
}

.LoaderTd{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.Paysliploader1{
    margin-top: 0%;
      height: 48px;
      margin-right: 0%;
      margin-left: 0%;
  
  }

  .payslipSideBody{
      min-height: 100vh;
  }

  .payslipyear{
      width: 112px;
      text-align: center;
  }

  .totalDedBaC{
      background-color: #c22627 !important;
      color: white;
  }
  .totalPAYBaC{
      background-color: #008141 !important;
      color: white;
  }
  .DivNextToTab{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .DivNextToTabCh1{
      margin-right: 2%;
      padding-bottom: 20px;
    background-color: #e4e4e4;
    text-align: center;
    font-family: NexaLight;
    border-radius: 2px;
    width: 47%;
    padding-right: 1%;
    padding-left: 1%;
    min-height: 40px;
    padding-top: 40px;
  }  
  .DivNextToTabCh2{
    padding-bottom: 20px;
    background-color: #e4e4e4;
    text-align: center;
    font-family: NexaLight;
    border-radius: 2px;
    width: 47%;
    padding-right: 1%;
    padding-left: 1%;
    min-height: 40px;
    padding-top: 40px;
}
    .FMofAvailLeave{
        font-family: NexaBold;
    }


    .DivNextToTabCh1NoPadding{
        padding: 0 !important;
        width: 49% !important
    }
.PaySLoader{
    height: 100px !important;
    width: 100%;
    font-size: 0;
}

@media(max-width:500px){
    .DivNextToTabCh2{
        width: 47%;
        padding-right: 1%;
        padding-left: 1%;
        min-height: 20px;
        padding-top: 25px;
         font-size: 10px;
    }
    .DivNextToTabCh1{
        width: 47%;
        padding-right: 1%;
        padding-left: 1%;
        min-height: 20px;
        padding-top: 25px;
        font-size: 10px;
    }
    .PaySLoader{
        height: 65px !important;
    }
}
@media(max-width:426px){
    .DivNextToTabCh2{
        min-height: 24px;

    }
}


