
.ErrMainDiv {
    color: #888;
    font-family: NexaBold;
    height: 100%;
    text-align: center;
    
}

.ErrMainDiv>h1 {
    color: #555;
    font-size: 2em;
    font-weight: 400;
}
.ErrMainDiv>p {
    margin: 0 auto;
    width: 280px;
}
@media only screen and (max-width: 280px) {
 
   .ErrMainDiv> h1 {
        font-size: 1.5em;
        margin: 0 0 0.3em;
    }
}
