.idclass{
    width: 3% !important;
    font-size: 12px !important;
    }
    .nameClassinv{
    width: 40% !important;
    font-size: 12px !important;
    }
    .statusClassinv{
        width: 1% !important
    }
    .statusClassinv>div{
        width: 115px;
        text-align: center
    }
    
    
      .InviteTable{
          margin-top: 27.5px;
          margin-bottom: 10px;
      }
    
    
      .InviteTableWidth{
          width: 100%;
      }
    
      .inviteBtnFont{
          min-width: 94px !important;
      }
    
      .inviteBtnFont>button{
          font-family: AcrobatExtraBold !important;
          border-radius: 0px !important;
          box-shadow: 3px 3px 7px rgb(199, 199, 199) !important
      }
    
    
      .InviteLoader{
        margin-top: 1%;
        height: 50px;
        margin: 0
      }
      .InviteLoaderRow>td{
          padding-left: 0 !important;
          padding-right: 0 !important
      }
    
      .InviteTableWidth>:nth-child(1)>:nth-child(2)::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #008141 ;
      }
    
    
      .InviteTableWidth>:nth-child(1)>:nth-child(2)::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #d9d9d9;
      }
    
      .InviteTableWidth>:nth-child(1)>:nth-child(2)::-webkit-scrollbar {
        width: 5px;
        border-radius: 10px;
        background-color: #d9d9d9;
        height: 10px;
      }
    .InviteTableWidth>:nth-child(1)>:nth-child(2){
    margin: 0 !important;
    padding-right: 8px;
    }
    
    @media(max-width:456px){
    
        .InviteTableWidth>:nth-child(1)>:nth-child(2){
          overflow-x: scroll !important
          }
    }
    .InviteTableMarginTop{
        margin-top: 1.75% !important
    }
    .SettingTableMarginT>tbody{
        box-shadow: 3px 3px 10px 0px #c8c8c8;
      }
    
    
    
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }
    @keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }
    
    .spinnerIcon {
        margin-left: 5px;
        color: #0e884b;
        float: right;
    }
    
    span>.spinnerIconTrue{
        -webkit-animation: spin 1000ms infinite linear;
        animation: spin 1000ms infinite linear;
        display: inline-block !important;
    }
    
    .acceptedInv{
        color: #008141;
    }
    .spinnerIcon:hover{
        cursor: pointer;
    }
    .statusClassinv>div>:nth-child(1){
        position: relative;
        top: 4px;
    }
    
    .impDataTAlig{
        text-align: center;
        display: block;
        font-family: NexaLight;
    }
    
    .DisableInviteDiv{
        pointer-events: none;
        cursor: default;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.5;
    }
    .archiveBtn{
        float:right;
        background-color: #008141;
        border-color: #008141;
        font-family: Nexabold;
        letter-spacing: 1px;
        box-shadow: 3px 3px 7px rgb(199, 199, 199) !important;
        color:white;
        position: relative;
        bottom: 5px;
    }
    .archiveBtn>button{
        height: 28px !important;
        line-height: 30px !important;
    }
    .archiveBtn span{
        font-size: 12px !important;
    }
    .archiveBtn:hover{
        cursor: pointer;
    }
    .archiveBtn>button>div>div:hover{
        background-color: unset !important
    }