
@font-face {
    font-family: AcrobatBold;
    src: url('../../Fonts/Akrobat-Bold.otf');
  }
  @font-face {
    font-family: AcrobatLight;
    src: url('../../Fonts/Akrobat-Light.otf');
  }
  
  @font-face {
    font-family: AcrobatExtraBold;
    src: url('../../Fonts/Akrobat-ExtraBold.otf');
  }
  
  @font-face {
    font-family: AcrobatSemiBold;
    src: url('../../Fonts/Akrobat-SemiBold.otf');
  }
  
  
  
  @font-face {
    font-family: AcrobatRegular;
    src: url('../../Fonts/Akrobat-Regular.otf');
  }

   
  @font-face {
    font-family: AcrobatBlack;
    src: url('../../Fonts/Akrobat-Black.otf');
  }

.SaveBtn{
    float: right !important
}
.AddNewEmpoyeeChild1{
    width: 52.5%;
}
.AddNewEmpoyeeChild2{
    width: 45%;
margin-left: 2.5%;
}
.NameFieldAddEmploye{
    float: right
}

.CardMainParent{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 4%;
}

.cardStyle{
    padding-top: 4%;
    padding-bottom: 4%;
    
}

.CardMainParentChild1{
    width: 50%
}

.CardMainParentChild2{
    width: 50%
}
.CardMainParentChild1SmallError{
    width: 80%

}
.CardMainParentChild1SmallError>small{
  
    padding-left: 12%;
   color: rgb(62, 176, 151);
   font-size: 14px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 8%;
    
}

.CardMainParentChild1>p{
  
    padding-left: 20%;
    font-family: NexaBold;
    font-weight: bold;
    font-size: 16px;
    color: #666666;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 8%;
    
}
.textFieldWidth{ 
    width: 80% !important;
    margin-right: 5%;
}

.CardMainParentChild2>label{
    margin-top: 7%
}

.AddEmployeFooter{
    margin-top: 10%
}



.ImageUploadMainDiv{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding:5% 5% 5% 5%
}

.ImageUploadMainDivChild1{
    width: 50%;
    
}

.ImageUploadMainDivChild2{
    width: 50%;
}
.AfterUploadImageDiv{
    width: 150px;
    height: 150px;
    background-color: #f7f7f7;
    color: #f7f7f7;

box-shadow: 2px 1px 8px 1px #c7c7c7
}

.AfterUploadImageDiv>img{
    width: 150px;
    height: 100%;
    object-fit: cover;
}

.browsebtn{
    margin-right: 10px;
}
.ImageUploadMainDivChild2>span{
    font-family: NexaBold;
    color: #666666    
}
.ImageUploadMainDivChild2>p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: NexaBold;
    color: #666666    ;
    
}

.ImageUploadMainDivChild2>div>label>div>div>span{
    font-weight: bold !important;
    font-family: NexaBold !important
}
@media(max-width:548px){
    .AddEmployeeHeadingPostion{
        position: relative;
        top: 5px
    }
}


@media(max-width:407px){
    .AddEmployeeHeadingPostion{
        position: relative;
        top: 10px
    }

   .CardMainParent> .CardMainParentChild2>div{
    font-size: 13px !important
   }
  
}



@media(max-width:1220px){
    div>.AddEmployeeBody{
flex-direction: column !important
    }
div>.AddNewEmpoyeeChild1{
width: 70%;
}

div>.AddNewEmpoyeeChild2{
    width: 60%;
    }
    div>.AddNewEmpoyeeChild2{
        margin-left: 0%;
        margin-bottom: 5%;
        margin-top: 2%
    }
}
@media(max-width:600px){
  div>  div>.AddNewEmpoyeeChild1{
        width: 100%;
        }

        div>div>.AddEmployeeBody{
            display: block
        }
        
     div>   div>.AddNewEmpoyeeChild2{
            width: 100%;
            margin-bottom: 20%;
            }

            div>.CardMainParentChild1{
                width: 46%
            }

            div>.CardMainParentChild2{
                width: 54%
            }
}    
@media(max-width:410px){
    div> div>div>.AddNewEmpoyeeChild1{
        margin-top: 10%
    }
    div>.addnewspan{
        display: block;
        text-align: center;
    }

    div>.browsebtn{
        margin-left: 25%
    }
    div>.removephotobtn{
        margin-left: 19%
        
    }

    button>div>div>span{
        font-size: 11px !important
    }
    .browsebtn>label>div>div>span{
        font-size: 12px !important
        
    }
}    

@media(max-width:410px){
    .cardStyle>div>div>div>p{
        padding-top: 18px
    }
}    

.addemployeeHeadingColor{
    color:black ;
}
.textFieldWidth>:nth-child(1){
font-family: NexaLight
}
.GenderFont{
    font-family: NexaLight;
}