
@font-face {
    font-family: AcrobatBold;
    src: url('../../Fonts/Akrobat-Bold.otf');
  }
  @font-face {
    font-family: AcrobatLight;
    src: url('../../Fonts/Akrobat-Light.otf');
  }
  
  @font-face {
    font-family: AcrobatExtraBold;
    src: url('../../Fonts/Akrobat-ExtraBold.otf');
  }
  
  @font-face {
    font-family: AcrobatSemiBold;
    src: url('../../Fonts/Akrobat-SemiBold.otf');
  }
  
  
  
  @font-face {
    font-family: AcrobatRegular;
    src: url('../../Fonts/Akrobat-Regular.otf');
  }

   
  @font-face {
    font-family: AcrobatBlack;
    src: url('../../Fonts/Akrobat-Black.otf');
  }

.RegisterMainDivChild1{
      margin: 0 auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
    box-shadow: 6px 8px 6px rgb(205, 205, 205);
    margin-bottom: 10%;
    width: 415px
}

.CardMainDiv{
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 20px;
    padding-top: 25px
    
}

.PayRollLogoDiv{
  text-align: center
    
}

.ResgisterTextFieldsStyle{
    width: 300px !important;
    margin-top: 35px;
    border-bottom: none !important;
    outline: none !important;
    border: none;
    text-indent: 15px;
    display: inline-block
}
.ResgisterTextFieldsStyle::placeholder{
    color: rgb(131, 138, 144) !important;
    font-size: 15px;
    font-family: NexaLight
}
.TextFieldIcon{
    position: relative;
    top: 8px;
    color: #008141;
    font-size: 30px
}
.TextFieldDivs{
    border-bottom: 1px solid rgb(209, 212, 215);
    padding-bottom: 10px;
    margin-bottom: 10px
}

.ResgisterTextFieldsStyleRaisedButton{
    width: 100% !important;
    margin-top: 30px;
}

.ResgisterTextFieldsStyleLastBtn{
    width: 100% !important;
    margin-top: 8px;
}
.AlreadyARegister{
text-align: center !important;
font-family: NexaLight !important;
position: relative !important;
top: 8px !important;
}
.TextFieldDivsPara>p{
    font-family: NexaLight !important;
    letter-spacing: 0 !important
}
.TextFieldDivsPara{
    width: 100%;
    position: relative;
    bottom: 10px;
}
.btnFontColor span{
    color: white !important;
    letter-spacing: 1px !important
}
.registerbuttonstyle>button{
    border-radius: 0px !important;
    font-family: Nexabold !important;
    box-shadow: 3px 3px 7px rgb(199, 199, 199) !important
}

@media(max-width:700px){
    div>.CardMainDiv{
        padding-left: 15px;
        padding-right: 15px;

    }
    div>.forgetpasswordinput{
        width:180px !important;
        }
    div>.forgetpLink{
        font-size: 14px;
        }
div>.RegisterMainDivChild1{
    width: 370px
}

div>.ResgisterTextFieldsStyle{
    width: 310px
}

.TextFieldDivsPara>p{
    text-align: center;
    width: 100%
    }
    
}

@media(max-width:400px){
    div>.ResgisterTextFieldsStyle{
        width: 260px !important
    }
    div>.ResgisterTextFieldsStyle::placeholder{
        font-size: 11px
    }
    div>.forgetpasswordinput::placeholder{
        font-size: 11px
    }
    div>.forgetpasswordinput{
        width:157px !important;
        }
    div>.forgetpLink{
        font-size: 11px;
        }
    div>.RegisterMainDivChild1{
        width: 320px !important;
        margin-bottom: 25% !important
    }
    

    div>.ResgisterTextFieldsStyle{
        margin-top: 12px;
    }

    div.ResgisterTextFieldsStyleLastBtn{
        margin-top: 0px;
    }

    .TextFieldDivs{
        margin-bottom: 10px !important
    }
    .PayRollLogoDiv{
        margin-bottom: 20px !important
    }
    .PayRollLogoDiv {
        text-align: center;
    }
    }

    *:focus{
        outline: none !important
    }

    @media(max-width:340px){
        div>.forgetpasswordinput{
            width:128px  !important;
            }
        div>.forgetpLink{
            font-size: 9px;
            position: relative;
            top:2px ;
            letter-spacing: 1px
            }
        div>.ResgisterTextFieldsStyle::placeholder{
            position: relative;
            top:3px ;
            font-size: 11px;
            text-indent: 2px;
        }
        div>.forgetpasswordinput::placeholder{
            position: relative;
            top:3px ;
            margin-top: 5px;
            font-size: 11px;
            text-indent: 2px;

        }
        div>.RegisterMainDivChild1{
            width: 280px !important;

        }
      
    
        div>.ResgisterTextFieldsStyle{
            margin-top: 12px;
            text-indent: 2px;
        }
    
        div.ResgisterTextFieldsStyleLastBtn{
            margin-top: 0px;
        }
    
        .TextFieldDivs{
            margin-bottom: 10px !important
        }
        .PayRollLogoDiv{
            margin-bottom: 20px !important
        }
        .ResgisterTextFieldsStyle::placeholder{
                
               font-size: 12px
            }
            .TextFieldIcon{
                font-size: 20px
            }

            div>.ResgisterTextFieldsStyle {
                width: 230px !important;
            }
            .RegisterMainDiv{
                margin-top: 70px
            }
        }
    
     .TextFieldIcon:hover{
         cursor: default
     }

     .backdiv{
        font-family: sans-serif;
        background-position: center center;
        background-repeat:  no-repeat;
        background-attachment: fixed;
        background-size:  cover;
        background-size: cover;
        background-image: url('../../images/back1.jpg') ;
        height: 100vh;
        margin-top: 0 !important
     }
    
.registerLoader{

    padding-left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff40;
    z-index: 8;
    margin-bottom: 10%;
}

.smallcolor{
    color: red;
}

.registerbtnmargin{
    margin-top: 10px !important;
}
