
@font-face {
    font-family: AcrobatBold;
    src: url('../../Fonts/Akrobat-Bold.otf');
  }
  @font-face {
    font-family: AcrobatLight;
    src: url('../../Fonts/Akrobat-Light.otf');
  }
  
  @font-face {
    font-family: AcrobatExtraBold;
    src: url('../../Fonts/Akrobat-ExtraBold.otf');
  }
  
  @font-face {
    font-family: AcrobatSemiBold;
    src: url('../../Fonts/Akrobat-SemiBold.otf');
  }
  
  
  
  @font-face {
    font-family: AcrobatRegular;
    src: url('../../Fonts/Akrobat-Regular.otf');
  }

  @font-face {
    font-family: NexaBold;
    src: url('../../Fonts/Nexa\ Bold.otf');
  }


  @font-face {
    font-family: NexaLight;
    src: url('../../Fonts/Nexa\ Light.otf');
  }

   
  @font-face {
    font-family: AcrobatBlack;
    src: url('../../Fonts/Akrobat-Black.otf');
  }

  .signOutText{
      font-family: AcrobatBlack !important
  }

.DashboardAppBar{
    background-color: #008141 !important;
    box-shadow: 5px 2px 9px 2px rgb(194,194,194) !important;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 0px;
    position: fixed !important;
    z-index: 1100;
    width: 100%;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
}
.payrolldashboardlogoMargin{

    margin-top: 12%;
    margin-left: 20px
}

.rightItemInNavBar>li{
    list-style: none;
    display: inline;
    color: white;
    font-family: AcrobatLight;
}

.rightItemInNavBar>li>span{
    font-family: AcrobatBlack;
    
}
.rightItemInNavBar>li>img{
border-radius: 100%;    
}

.rightItemInNavBar{
position: relative;
right: 10%
}

.imageLi{
    position: relative;
    bottom: 15px;
    right: 12px
}

.DashboardMainBody{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #f7f7f7;
}

.sidebar{
    width: 20%;
    background-color:white;
padding-top: 88px;
min-height:100vh;
position: fixed;
box-shadow: 4px 0px 5px 1px #e4e4e4
}
.sideMainBody{
    width: 76%;
    margin-left: 20%;
    background-color: #f7f7f7;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 110px;
    padding-bottom: 50px;
    }

.DashboardHeight{
    min-height: 100vh
}
.sidebarListFirstTwoLi{
    list-style: none;
    border-bottom: 1px solid rgb(220, 220, 220);
    font-family: NexaLight;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 5px
}
.sidebarListFirstTwoLi :hover{
    cursor: pointer
}
.sidebarListLastLi :hover{
    cursor: pointer
}
.sidebarListLastLi{
    list-style: none;
    font-family: NexaLight;
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 5px;
}
.sidebarList{
    width: 75%;
}
.dashboardIcon{
    margin-right: 2px;
    margin-right: 8px;
    position: relative;
    top: 7px;
}

.sideMainBodyChild1{
    width: 100%;
}
.DashboardMainHeading{
    margin-top: 0;
    margin-bottom: 0;
}
.sideMainBodyChild1>h1{
    font-family: NexaBold;
    color: #131313;
    font-size: 36px;
}
.sideMainBodyChild2{
    width: 100%;
}


.sideMainBodyChild3{
    width: 100%;
    margin-bottom: 2%;
    margin-top: 4%
    
}
.sideMainBodyChild3FirstChild{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.sideMainBodyChild3FirstChildWidth{
    width: 100%;
    margin-top: 4%
}
.sideMainBodyonlyChild{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.sideMainBodyChild2OnlyChild{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 4%
}
.sideMainBodyChild2Child1{
    width: 100%;
}
.sideMainBodyChild2Child2{
    width: 38%;
    margin-left: 2%;
}
.salariesComparisonImage{
    width: 100%;
    height: auto
}

.sideMainBodyChild3OnlyChild{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.sideMainBodyChild3OnlyChildChild1{
    width: 100%;
}

.sideMainBodyChild2Child1Parent{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.sideMainBodyChild2Child1ParentChild1{
    width: 100%;
    background-color: #e4e4e4;
    box-shadow:3px 7px 14px 0px rgba(210, 210, 210, 1);
    position: relative
}
.sideMainBodyChild2Child1ParentChild1>p{
    font-family: NexaBold;
    color:#131313;
    letter-spacing: 0.1em;
    margin-left: 15px
}
.sideMainBodyChild2Child1ParentChild2{
    width: 100%;
    background-color: #e4e4e4;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    box-shadow:4px 3px 7px 2px rgba(210, 210, 210, 1);
    position: relative
}
.sideMainBodyChild2Child1ParentChild3{
    width: 100%;
    background-color: white;
    padding: 4% 3% 4% 3%;
    box-shadow:2px 2px 7px 3px rgba(210, 210, 210, 1)
}


.NewThemeParentChild3Child1{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.NewThemeParentChild3Child111{
    width: 55%;
  }

.NewThemeParentChild3Child112{
    width: 45%;}
.NewThemeParentChild3{
    width: 100%;
    background-color: white;
    padding:20px 2% 10px 2%;
    box-shadow:2px 2px 7px 3px rgba(210, 210, 210, 1);
    min-height: 187px;
}
.salarygraphYearND{
    position: relative;
    bottom: 6px;
    font-family: NexaBold;
    font-size: 18px;
    color: black;

}


.sideMainBodyChild2Child1ParentChild2>p{
    display: inline;
    color: black;
    font-family: NexaBold;
    font-size: 18px
}

.DateSwitcher{
    display: inline;
    float: right;
    color: white;
    position: relative;
    top: 3px;
}
.DateSwitcher>button:hover{
cursor: pointer
}
.DateSwitcher>button>i{
    display: inline-block
}
.DateSwitcher>button{
    box-shadow: none !important;
    color: black;
    background-color: #e4e4e4;
    border: none
}

.sideMainBodyChild2Child1ParentChild3Parent{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px
}

.sideMainBodyChild2Child1ParentChild3ParentChild1{
    width: 47%;
    margin-right: 1%;
    background-color: #e4e4e4;
    text-indent: 15px;
    min-height: 83px;
    display: flex;
flex-direction: column;
justify-content: center;
}

.sideMainBodyChild2Child1ParentChild3ParentChild1>p{
    color: black;
    font-family: NexaLight;
    font-size: 15px;
    margin: 0    
}
.BasicColor{
    color: #008141;
}

.Deductioncolor{
    color: #c22727;
}

.Taxcolor{
    color: black;
}

.Bonuscolor{
    color: black;
}
.sideMainBodyChild2Child1ParentChild3ParentChild2>p{
    color: black;
    font-family: NexaLight;
    font-size: 15px;
    margin: 0    
    
}
.sideMainBodyChild2Child1ParentChild3ParentChild2>h1{
    font-family: NexaBold;
    margin: 0;
    font-size: 28px
}
.sideMainBodyChild2Child1ParentChild3ParentChild1>h1{
    font-family: NexaBold;
    margin: 0;
    font-size: 28px;
    
}
.sideMainBodyChild2Child1ParentChild3ParentChild2{
    width: 47%;
    margin-left: 1%;
    background-color: #e4e4e4;
    text-indent: 15px;
    min-height: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sideMainBodyChild2Child1ParentChild3ParentFullWidth{
    width: 100%;
    background-color: #008141;
    text-align: center;
    min-height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.sideMainBodyChild2Child1ParentChild3ParentFullWidth>p{
        color: white;
    font-family: NexaLight;
    font-size: 30px;
    margin-right: 2%;
    margin-top: 0;
    margin-bottom: 0;
}

.sideMainBodyChild2Child1ParentChild3ParentFullWidth>h1{
    display: inline;
    color: white;
    font-family: NexaBold;
    font-size: 40px;
    margin-left: 2%   ;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.1em;
}
.dateIcon{
    position: relative;
    top: 5px;
    margin-right: 5px
}

 @media(max-width:650px){
     div>.sideMainBodyChild2Child1ParentChild3ParentChild2{
         width: 51%
     }
div>.totalPaidWidth{
    width: 100%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-left: 0%;
}

  div>  .NewThemeParentChild3Child111{
width: 100%;
margin-right: 0%
    }
    div.NewThemeParentChild3Child112{
width: 100%;
    }
 }
@media(max-width:1200px){
   
   
    .settingsideBody>:nth-child(3)>:nth-child(2){
        overflow-x: scroll !important
        }
        .SettingTableMarginT{
            width: unset !important;
            overflow: scroll
        }
        .totalPaidWidth{
            padding-bottom: 0 !important;
            padding-top: 0 !important
        }

div>.sideMainBodyChild2Child1ParentChild3ParentFullWidth>h1{
    font-size: 34px;
}
div>.sideMainBodyChild2Child1ParentChild3ParentChild1>h1{
    font-size: 20px;
}
div>.sideMainBodyChild2Child1ParentChild3ParentChild2>h1 {
    font-size: 20px;
}
div>.NewThemeParentChild3{
    min-height: 156px;
}

}

@media(max-width:840px){
   div>div>div> .settingsideBody{
    padding-left: 2% !important;
    padding-right: 2% !important;
    width: 96% !important;
}



   div>div>.sidebar{
        width: 100% !important;
        display: none
    }
   div> .sideMainBodyChild3{
        margin-bottom: 14%
    }

    div>div>.sideMainBody{
        width: 100% !important;
        margin-left: 0;    
    }
    ul>.toggler{
        display: inline !important;
        
    }
   .rightItemInNavBar>.imageLi{
       display: none;
   }
   .rightItemInNavBar>.greetingLi{
    visibility: hidden;
}

   
   div> .drawerIcon{
        display: inline !important
    }
  div>  .payrolldashboardlogoMargin{
        margin-left: 5px
    }
}

@media(max-width:520px){
  div>.salarygraphYear{
      width: 80px;
      font-size: 13px;
      bottom: 8px;
  }
  div>.NoPadddingND{
      margin-left: 5px;
      margin-right: 5px;
      height: 26px;
      width: 35px;
      padding-top: 1px;

  }
  div>div>.EmpDetailLoader{
    height: 18px !important; 
}
  div>div>div>.DashboardMainHeadND {
    font-size: 13px;
}
}

@media(max-width:700px){
    div>.EmpDetailLoader{
        height: 24px !important; 
    }
    div>.tabParent{
        font-size: 10px
    }
    div>div>.attendanceOptionIcon{
        font-size: 18px;
    }
    div>div>.DashboardMainHeadND{
        font-size: 20px
    }
    div>div>.DashDSwitcher{
        top: -5px;
    }
}

@media(max-width:770px){
    .EmpDetailLoader{
        height: 37px !important; 
    }
    div>.attendanceOptionIcon{
        font-size: 32px;
    }
    div>.DashboardMainHeadND{
        font-size: 30px
    }
   div> .DashDSwitcher{
        top: 0px;
    }
   div>div>.sideMainBodyChild2Child1{
       width: 100%;
       margin-right: 0%
   }

   div>div>.sideMainBodyChild2Child2{
    width: 100%;
    margin-left: 0%;
    margin-top: 4%
   }
  

}

 @media(max-width:380px){
     div>.sideMainBodyChild2Child1ParentChild2>p{
        font-size: 14px;
        position: relative;
        top: 4px;
     }
   div>div>.sideMainBodyChild2Child1ParentChild3ParentChild1{
       width: 100%;
       margin-right: 0%;
       margin-bottom: 3.5%;
   }
  
   div>div>.sideMainBodyChild2Child1ParentChild3ParentChild2{
    width: 100%;
    margin-left: 0%
}

div>.totalPaidWidth{
    width: 100%;
    padding-top: 0%;
    padding-bottom: 0%;

    
}
div>.salaryLoaderStyle{
    margin-left: 0%;
}
div>.salarygraphYear {
    width: 55px;
    font-size: 10px;
    bottom: 8px;
}   
div>.NoPadddingND{
    width: 25px;
    padding-left: 1px;
}

  }

  .toggler{
    display: none  !important
}

.toggler:hover{
    cursor: pointer
}

.togglerIcon{
    position: relative;
    bottom: 10px
}

.salariesGraph{
    font-family: AcrobatExtraBold;
    color: white;
    margin-left: 15px;
    font-size: 18px;
}

.salarygraphYear{
    position: relative;
    bottom: 6px;
    font-family: NexaBold;
    font-size: 18px;
    color: black;
    width: 100px;
    text-align: center;
    display: inline-block;
}
.NoPadddingND{
    margin-left: 12px;
        margin-right: 12px;
        padding-top: 5px;
}
.DashboardMainHeadND{
    font-family: NexaBold !important;
    font-size: 36px;
    color: #008141 !important;
    display: inline;
}

.DashbDS{
    box-shadow: none !important;
    color: black;
    background-color: #e4e4e4;
    border: none;
}
.DashDSwitcher{
    display: inline;
    float: right;
    color: white;
    position: relative;
    top: 3px;
}
.DashDSwitcher>button:hover {
    cursor: pointer;
}
.DashDSwitcher>button {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #eaf5ef;
    background-color: #008141;
    border: none;
}

.NDLoaderHeigt{
    height: 83px !important
}
.animated-backgroundDashboardTotalPaid{
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
    height: 68px;
    position: relative;
    font-size: 0;
}

.salaryLoaderStyle{
padding: 0;
margin-left: 2%;
margin-right: 0%;
}

.totalPaidWidth{
    width: 100%;
    padding-top: 0%;
    padding-bottom: 0%;
}

.NDTPHeight{
    height: 176px !important;

}

div.employeesideMainBodyChild2Child1{
width: 100%;
margin-right: 0;
}


.profileLogo{
    border-radius: 100%;
    height: 40px;
    width: 40px;
    object-fit: cover
}

.profileLogo:hover{
    cursor: pointer;
}

.NoPaddding{
    margin-left: 12px;
    margin-right: 12px;
    padding: 0;
}

.DashboardSideBodyheight{
    height:  calc(100vh - 162px);
}


.DashboardHeight{
    min-height: calc(100vh - 162px);
}


.classforVerGraph .recharts-cartesian-axis-tick{
    font-size: 0.7rem !important;
    font-family: AcrobatRegular !important;
    color: red !important;
}
.recharts-cartesian-axis-tick {    
    font-size: 0.9rem;
    font-family: AcrobatExtraBold;
    color: #747c83;
}

.classforVerGraph .recharts-default-tooltip{
    background-color: #3f4d58 !important; 
    border-color: #3f4d58 !important;
    border-radius: 6px !important;
}

.secondGraTTip .recharts-default-tooltip{
    background-color: #3f4d58 !important; 
    border-color: #3f4d58 !important;
    border-radius: 6px !important;
}

.recharts-tooltip-label{
    display: none !important;
}


.animated-backgroundDashboardGraph{
      -webkit-animation-duration: 1s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    -webkit-background-size: 800px 104px;
    background-size: 800px 104px;
    height: 100%;
        margin-bottom: 2px;
    position: relative;
    font-size: 0;

}


.GraphLoaderMainDiv{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 300px;
    justify-content: center;
}




.svg__loading {
    height: 5rem;
    width: 100%;
  }
  
  .svg__loading-won {
    fill:#eeeeee; 
  }
  
  .svg__loading-lost {
    fill: #eeeeee; 
  }
  
  .svg__loading-new {
    fill: #eeeeee; 
  }
  
  .svg__loading-open {
    fill: #eeeeee; 
  }
  

  .snapshot__loading {
    position: relative;
    font-family: "Apex Sans", "Helvetica", sans-serif;
    height: 281.11707px;
    height: 21.62439rem;
    padding-top: 83.2px;
    padding-top: 6.4rem;
    text-align: center; 
  }
  
  .snapshot__loading-info::after {
    width: 0;
    opacity: 0.3;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    padding-left: 0.25em;
    content: "\2026";
    -webkit-animation: ellipsis 2s infinite; 
  }
  
  @-webkit-keyframes ellipsis {
    0% {
      width: 0.25em;
    }
  
    50% {
      width: 0.6em;
    }
  
    100% {
      width: 1em;
    } 
  }


  @media(max-width:500px){
      div>.NOfAPMainDiv{
          height: 100px;
      }
    .NOfAPMainDiv>div>:nth-child(1){
        font-size: 8px
    }
    .NOfAPMainDiv>div>:nth-child(2){
        font-size: 20px
        
    }
      .NOfAPMainDiv>div{
          height: 75%
      }
      .svg__loading{
          height: 3rem;
      }
  }
  .SettingsIcon{
      margin-right: 8px;
     position: relative;
     top: 7px;
  }

  .EmployeeIcon{
    margin-right: 8px;
    position: relative;
    top: 7px;
  }

  .ProfileIcon{
    margin-right: 8px;
    position: relative;
    top: 7px;
  }
  .NoMarginLeft{
      margin-left: 0 !important
  }