.tabParent{
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 30px;
    
}

.tabChild1{
    width: 25%;
    text-align: center;
    background-color: #008141;
    padding: 10px 0;
    font-family: NexaBold;
    color:white;


}
.tabChild2{
    width: 24.7%;
    text-align: center;
    margin-right: 0.3%;
    background-color: #008141;
    padding: 10px 0;
    font-family: NexaBold;
    color:white
}
.tabChild3{
    width: 24.7%;
    text-align: center;
    margin-right: 0.3%;
    background-color: #008141;
    padding: 10px 0;
    font-family: NexaBold;
    color:white

}
.tabChild4{
    width: 24.7%;
    text-align: center;
    margin-right: 0.3%;
    background-color: #008141;
    padding: 10px 0;
    font-family: NexaBold;
    color:white

}
.tabChild1:hover{
    cursor: pointer
}

.tabChild2:hover{
    cursor: pointer
}.tabChild3:hover{
    cursor: pointer
}.tabChild4:hover{
    cursor: pointer
}
.activeTab:hover{
cursor: default;
}
.activeTab{
    color: black;
    background-color: #e4e4e4;
}