.ResgisterFooter>p{
    text-align: center;
    margin: 0;
    font-family: NexaLight
}

.ResgisterFooter{
    width: 100%;
    color: white;
    text-align: center;
    background-color: #131313;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    bottom: 0;
    z-index: 100;
}
.LoginRegiterFooter{
    font-family: NexaLight
}
.LoginRegiterFooter{
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #131313;
  
    position: fixed;
}