.CardMainParentAccSet{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.CardMainParentChild1AS{
    width: 50%;
}

.CardMainParentChild1AS>p{
    padding-left: 20%;
    font-family: NexaBold;
    font-size: 16px;
    color: #666666;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 8%;
}
.cardStyleAS{
    padding-top: 2%;
    padding-bottom: 4%;
    box-shadow: rgba(0, 0, 0, 0.12) 5px 6px 4px, rgba(0, 0, 0, 0.12) 0px 1px 4px !important
}
.CardMainParentChild2>p{
    padding-top: 1%;
    font-family: NexaLight;
    color: #6e6e6e;
}

.accSettCard{
    margin-right: 0 !important;
}
.AccSettMainBodyChild1{
    width: 100%;
}
@media(max-width:600px){
    .CardMainParentChild1AS{
        width: 46%;
    }
}

@media(max-width:460px){
    .CardMainParentChild1AS~div{
        width: 95% !important;
        margin-left: 9%;
    }
}

@media(max-width:360px){
  .AccSettSideB{
    height: calc(100vh - 100px) !important;
    }
}

.AccSettEmailPara{
    margin-bottom: 0 !important;
}
.EmailParaMainDIv{
    margin-bottom: 10px
}

.facebookWave div{
    font-size: 0;
    height: 13px;
    width: 2px;
    display: inline-block;
    background-color: #008141  !important;
    border: 1px solid #008141  !important;
    -webkit-animation: facebookWave_loader 1.3s linear infinite;
    animation: facebookWave_loader 1s linear infinite;
    -webkit-transform: scale(0.91);
    -ms-transform: scale(0.91);
    transform: scale(0.91);
    margin-right: 3px;
    position: relative;
    top: 10px;
}

.facebookWave div:nth-child(1){
    -webkit-animation-delay:0.39s;
    animation-delay:0.39s;
}
.facebookWave div:nth-child(2){
    -webkit-animation-delay:0.52s;
    animation-delay:0.52s;
}
.facebookWave div:nth-child(3){
    -webkit-animation-delay:0.65s;
    animation-delay:0.65s;
}

@-webkit-keyframes facebookWave_loader{
    0%{
        -webkit-transform:scale(1.2);
        opacity:1
    }

    100%{
        -webkit-transform:scale(0.7);
        opacity:0.1
    }
}

@keyframes facebookWave_loader{
    0%{
        transform:scale(1.2);
        opacity:1
    }

    100%{
        transform:scale(0.7);
        opacity:0.1
    }
}