
.AddAttCard{
border-radius: 0 !important;

}

.addAttSubmitBtn{
height: 5px !important;
}
.AttCardMDiv{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 25px;    
}
.AddAttChild2{
    width: 31.5%;
    margin-right: 5%;

}
.AddAttChild2To{
    width: 31.5%;
    margin-right: 5%;
}
.AddAttChild1{
    width: 10%;
    margin-left: 5%;
    margin-right: 1%;

    position: relative;
    top: 20px;
}
.AddAttChild1To{
    width: 10%;
    position: relative;
    top: 20px;
    margin-right: 1%;

}
.AddAttChild1>label{
    font-family: AcrobatBold;
    color: #666666;
}
.AddAttChild1To>label{
    font-family: AcrobatBold;
    color: #666666;
}
.attendBtnDiv{
    width: 90%;
    margin-left: 5%;
    margin-top: 5px;
}

.attendErrDiv{
    width: 90%;
    margin-left: 10%;
    margin-top: 2px;
}
.AddAttendanceCal>div>div>hr{
    border-bottom:2px solid  #3f4d58 !important;
}
.AddAttendanceCal>div>div{
    color: #747c83 !important;
    font-family: AcrobatRegular !important
}
.attendanceSidebody{
    height: calc(100vh - 162px)
}


.AttErrStyle{
    color: red;
}
.addattonlychild{
    width: 50%
}
.attTogg>div>label{
    width: 65px !important
}

@media(max-width: 840px){
.addattonlychild{
    width: 100%
}
}
@media(max-width: 547px){
    .AddAttChild2{
        width: 74.5%;
    }
    .AddAttChild2To{
        width: 74.5%;
    }
    .AddAttChild1To{
        margin-left: 5%;
    }
    .AddAttChild1{
        margin-right:5%
    }
    .AddAttChild1To{
        margin-right:5%
    }
}
.sideMainBody{
    /* position: relative; */
}
.loading-layer{
    position: absolute;
    top: 82px;
    bottom: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}
.loading {
    width: 20%
}