.ForGetPassWordText>p{
    text-align: center;
    font-family: NexaLight;
    font-size: 14px;
    color: rgb(131, 138, 144);    
    margin-top: 30px;
}

.LinkClassForgetPassword{
    text-decoration: none;
    color: rgb(131, 138, 144); 
    margin-top: 10px;
    margin-bottom: 5px
}

.LinkClassForgetPassword>i{
    position: relative;
    top: 7px
}

.LinkParentDiv{
    text-align: center;
    font-family: NexaBold;
    font-size: 14px;
padding-bottom: 5px;
padding-top: 15px;
    font-weight: bold
}

.forgetpassworderr{
    text-align: center;
    margin-bottom: 2px
}