.loginErrorDiv{
    margin-top: 10px;
}
div>.forgetpasswordinput{
    width: 172px !important;
    margin-top: 35px;
    border-bottom: none !important;
    outline: none !important;
    border: none;
    text-indent: 15px;
    display: inline-block;
}
.forgetpasswordinput::placeholder{
    color: rgb(131, 138, 144) !important;
    font-size: 15px;
    font-family: NexaLight;
}
.forgetpLink{
    font-family: NexaLight;
    color: #008141;
}
.PayRollLogoDiv>img{
    width: 189px;
}
