.SettingTableMarginT{
    margin-top: 1%;
    margin-bottom: 10px;
    width: unset !important;
}

.NoRecordSetting{
  margin-top: 1%;
    margin-bottom: 10px;
}

.settingsideBody>:nth-child(3)>:nth-child(2)::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    background-color: #d9d9d9;
    height: 10px;
  }
  .settingsideBody>:nth-child(3)>:nth-child(2)::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #008141;
  }
  .settingsideBody>:nth-child(3)>:nth-child(2)::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #d9d9d9;
  }

  .SettTableLastTd{
    padding-left: 25px !important;
  }

  .SettTableLastTd>i:hover{
    cursor: pointer;
  }
.SettingTableMarginT>tbody>tr>td{
  border-right: 1px solid #a5a5a5;
}

.SettingTableMarginT>tbody>tr{
  border-bottom: 0 !important;
}
.SettingTableMarginT>tbody>tr>:last-child{
  border-right: 0 !important;
}

.SettingTableMarginT>tbody>:nth-child(1)>td{
  border-right: 1px solid #a5a5a5 !important;
}
.SettingTableMarginT>tbody>:nth-child(1)>:last-child{
  border-right: 0 !important;
}
.SettTableTrBC{
  background-color: #f8f8f8;
}

.SettTabLastRow>:first-child{
  font-size: 0 !important;
}
.SettTabLastRow>:last-child{
  font-size: 0 !important;
}

.SettTabLastRow{
  color: #666666 !important;
  font-family: NexaBold !important;
  font-size: 15px !important;
  border-top: 2px solid #e9c6c8;
}
.settingsideBody>:nth-child(3)>:nth-child(2){
  padding-right: 10px;
}

.NoPadding{
  padding: 0 !important
}

.Settingloader1{
  margin-top: 1%;
    height: 50px;
    margin-right: 1%;
    margin-left: 1%;

}

.SettingLoaderTable>td{
  padding: 0 !important;
}

.SNoClass{
  text-align: center !important;
}
.SNoClassWithData{
  width: 10% !important;
}






.SettTabLastRowEmpty{
  color: #666666 !important;
  font-family: AcrobatBlack !important;
  font-size: 15px !important;
  border-top: 2px solid #e9c6c8;
}

.EmptyTableSetDash{
  height: 100vh !important;
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
    width: 173px;
    background-color:rgb(63, 77, 88);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 5px;
    position: relative;
    z-index: 1;
    bottom: 13px;
    left: 20px;
    margin-left: -60px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip:hover{
  cursor: default
}
.settingsideBody{
   min-height: 100vh
}


.settingToggler:hover{
  cursor: pointer;
}

.onclick-menu {
  position: relative;
  display: inline-block;
}
.onclick-menu:before {
  content: "click me!";
}
.onclick-menu:focus .onclick-menu-content {
  display: block;
}
.onclick-menu-content {
  position: absolute;
  z-index: 1;
  background-color: red;

  display: none;
}
.settingIconMenu{
  text-align: center;
}

.SettingToggler:hover{
  cursor: pointer;
}

.SettingTogItm{
  min-height: 30px !important;
}
.SettingTogItm>div>div{
text-align: center;
font-size: 12px;
font-family: OpenSansBold;
padding: 0px 8px !important;
min-height: 30px !important;
line-height: 30px !important;
}

.grayRowSett{
  background-color: #f0f0f0;
}


.NameClassSetting{
  width: 20% !important;
  font-size: 12px !important;
}
.CurrSalClassSetting{
  width: 15% !important;
  font-size: 12px !important;

}
.TotalBonClassSetting{
  width: 12% !important;
  font-size: 12px !important;

}
.TotalTaxClassSetting{
  width: 12% !important;
  font-size: 12px !important;

}
.TotalDedClassSetting{
  width: 15% !important;
  font-size: 12px !important;

}
.TotalPSalClassSetting{
  width: 15% !important;
  font-size: 12px !important;

}
.OptionDropDown>div>:nth-child(4){
  border: none !important;
}
.DropDownTd{
  padding: 0 !important;
}
div>.SettingsHeading{
  color: black !important
}
.hiddenDiv{
  visibility: hidden;
}