    .ArvhiveMB>:nth-child(3)>:nth-child(2) {
        padding-right: 10px;
    }
    .archiveIcon{
        position: absolute;
        width: unset !important;
        min-width: unset !important;
        max-width: unset !important ;
        margin-right: 4px;
        margin-top: 4px;
        right: 0;
        background-color: white;
        border-radius: 100%;
    }
    .archiveIcon:hover{
        cursor: pointer;
    }


    @-webkit-keyframes spinArchive {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
        }
    }
    @keyframes spinArchive {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(-359deg);
            transform: rotate(-359deg);
        }
    }


    span>.spinnerIconTrueArchive{
        -webkit-animation: spinArchive 1000ms infinite linear;
        animation: spinArchive 1000ms infinite linear;
        display: inline-block !important;
    }

    .archiveheight{
        min-height: calc(100vh - 162px)   
     }

     