@font-face {
    font-family: AcrobatBlack;
    src: url('../../Fonts/Akrobat-Black.otf');
  }

.centerSuccess{
    text-align: center
}
.centerSuccess2 span{
color: white !important;
letter-spacing: 1px !important;
font-family: AcrobatBlack;

}

.centerSuccess2{
    display: flex !important;
}

